.quote{
    text-align:center;
    padding:30px;
    font-style:italic;
    color:#38bdf8;
    font-size:20px;
}
.career-card{
    background:#1e293b;
    padding:20px;
    margin:15px 0;
    border-radius:15px;
    box-shadow:0 0 10px rgba(56,189,248,0.2);
    transition:0.3s;
}

.career-card:hover{
    transform:translateY(-5px);
    box-shadow:0 0 20px #38bdf8;
}
.journey-card{
    background:#1e293b;
    padding:20px;
    margin:15px 0;
    border-left:5px solid #38bdf8;
    border-radius:10px;
    transition:0.3s;
}

.journey-card:hover{
    transform:translateX(10px);
    box-shadow:0 0 20px #38bdf8;
}

html{
    scroll-behavior:smooth;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#0f172a;
    color:white;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    background:#1e293b;

    position:sticky;
    top:0;
    z-index:1000;
}
.logo{
    font-size:28px;
    font-weight:bold;
    color:#38bdf8;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}
nav a:hover{
    color:#38bdf8;
    transition:0.3s;
}

.hero{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(135deg,#0f172a,#1e293b);
    padding:100px 20px;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.profile-circle{
    width:150px;
    height:150px;
    border-radius:50%;
    overflow:hidden;
    margin-bottom:20px;
    box-shadow:0 0 20px #38bdf8;
}
.profile-circle img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.hero h1{
    font-size:55px;
    margin:20px 0;
    line-height:1.2;
}

.hero h1 span{
    color:#38bdf8;
}

.hero p{
    margin:20px 0;
    font-size:20px;
}

.btn{
    background:#38bdf8;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:8px;
}
section{
    padding:60px 10%;
}

h2{
    color:#38bdf8;
    margin-bottom:20px;
    font-size:32px;
}

.about p{

font-size:18px;
line-height:1.8;
text-align:center;
max-width:850px;
margin:auto;

}

.skills ul{
    list-style:none;
}

.skill{
    display:inline-block;
    background:#1e3a8a;
    color:white;
    padding:10px 20px;
    margin:8px;
    border-radius:10px;
    font-weight:bold;
    transition:0.3s;
}

.skill:hover{
    transform:scale(1.1);
    background:#38bdf8;
    box-shadow:0 0 15px #38bdf8;
}

footer{
    text-align:center;
    padding:20px;
    background:#1e293b;
    margin-top:30px;
}
.projects{
    margin-top:50px;
}

.project-card{
    background:rgba(255,255,255,0.1);
    padding:20px;
    border-radius:15px;
    margin-bottom:20px;
    transition:0.3s;
}

.project-card:hover{

transform:translateY(-8px);
box-shadow:0 0 20px #38bdf8;

}
.project-card h3{
    color:#4cc9f0;
    margin-bottom:10px;
}

.project-card p{
    font-size:16px;
}
.hero h1{
    animation:fadeIn 2s ease-in-out;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(-30px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}


.contact-links{
    text-align:center;
    margin-top:20px;
}

.contact-links a{
    display:inline-block;
    margin:10px;
    padding:12px 20px;
    background:#1e293b;
    color:white;
    text-decoration:none;
    border-radius:10px;
    transition:0.3s;
}

.contact-links a:hover{
    background:#38bdf8;
    transform:translateY(-5px);
}


.typing{
    font-size:22px;
    color:white;
    margin:15px 0;
}

.btn{
    display:inline-block;
    margin:10px;
    padding:12px 25px;
    background:#38bdf8;
    color:white;
    text-decoration:none;
    border-radius:30px;
    transition:0.3s;
}

.btn:hover{
    background:#0ea5e9;
    transform:scale(1.1);
    box-shadow:0 0 20px #38bdf8;
}
.button-container{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    flex-wrap: wrap;
}
.profile-circle{
    animation:float 3s ease-in-out infinite;
}@keyframes float{

0%{
    transform:translateY(0);
}

50%{
    transform:translateY(-10px);
}

100%{
    transform:translateY(0);
}

}
footer p{
    margin:5px;
}
@media (max-width:768px){

.hero h1{
    font-size:35px;
}

.hero p{
    font-size:18px;
}

nav{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.profile-circle{
    width:130px;
    height:130px;
}

}.about-highlights{

display:flex;
justify-content:center;
flex-wrap:wrap;
gap:15px;
margin-top:25px;

}

.about-highlights p{

background:#1e293b;
padding:12px 20px;
border-radius:25px;
box-shadow:0 0 10px #38bdf8;
transition:0.3s;

}

.about-highlights p:hover{

transform:scale(1.1);
background:#38bdf8;

}
.tagline{
    font-size:28px;
    color:#38bdf8;
    font-weight:bold;
    margin-top:10px;
    margin-bottom:10px;
}
#skills h3{
    color:#38bdf8;
    margin-top:30px;
    margin-bottom:15px;
    font-size:24px;
}
.skills{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
    justify-content:center;
    margin-bottom:30px;
}

.skill{
    background:#1e293b;
    color:white;
    padding:12px 20px;
    border-radius:25px;
    font-weight:bold;
    transition:0.3s;
    box-shadow:0 0 10px rgba(56,189,248,0.2);
}

.skill:hover{
    background:#38bdf8;
    transform:scale(1.08);
    box-shadow:0 0 20px #38bdf8;
}
